body {
	margin: 1em 2em;
	font-size: 150%;
}
table {
	margin-top: 20px;
}
input {
	width: 500px;
	margin: 1em auto;
	padding: .5em;
}
h1 {
	font-size: 190%;
	font-weight: bold;
}
.no-results {
	text-align: center;
	font-weight: bold;
	padding: 4em 2em;
}
.left {
	width: 350px;
	float: left;
}
.left img {
	text-align: center;
}
.right {
	overflow: hidden;
}
.detail-view p span {
	font-weight: bold;
}