<p ng-hide="movie" class="no-results">
	Loading..
</p>

<div class="detail-view" ng-show="movie">
	<div class="left">
		<img src="{{ movie.Poster}}" />
	</div>

	<div class="right">
		<h2>{{ movie.Title }}</h2>
		<p>{{ movie.Plot }}</p>
		<p><span>Director:</span> {{ movie.Director }}</p>
		<p><span>Actors:</span> {{ movie.Actors }}</p>
		<p><span>Writers:</span> {{ movie.Writer }}</p>

		<p><span>Rated:</span> {{ movie.Rated }}</p>
		<p><span>Rating:</span> {{ movie.imdbRating }} Votes: {{ movie.imdb.Votes }}</p>
		<p><span>Runtime:</span> {{ movie.Runtime }}</p>
		<p><span>Released:</span> {{ movie.Released }}</p>
	</div>
</div>